#about {
    text-align: center;
}

#computer-profile {
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
}

.interests-content {
    background: rgb(232, 232, 200);
    background: linear-gradient(90deg, rgba(232, 232, 200, 1) 0%, rgba(226, 226, 177, 1) 35%, rgba(207, 207, 146, 1) 100%);
    padding: 1rem;
    margin: 1rem;
}

.interests-btn-container {
    text-align: center;
}

.navbar {
    margin: auto;
    max-width: 250px;
}