#about {
    text-align: center;
}

#computer-profile {
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
}

.btn {
    background-color: hsl(58, 85%, 70%);
    border: solid 1px;
}

.btn:hover {
    background-color: hsl(58, 31%, 50%);
}

.navbar {
    max-width: 150px;
}