#profile-480 {
    border-radius: 20px;
    max-width: 350px;
}

#profile {
    text-align: center;
}

#about .card {
    max-width: 400px;
}

#about-me-intro,
.work-content {
    background: rgb(232, 232, 200);
    background: linear-gradient(90deg, rgba(232, 232, 200, 1) 0%, rgba(226, 226, 177, 1) 35%, rgba(207, 207, 146, 1) 100%);
    padding: 1rem;
    margin: 1rem;
}