body {
    background-color: hsl(60, 15%, 72%);
    color: hsl(0, 4%, 14%);
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1,
h2 {
    text-align: center;
}

img {
    box-shadow: 10px 5px 5px hsl(0, 1%, 48%);
}

ul {
    list-style: none;
}

.card {
    background-color: hsl(60, 45%, 78%);
    box-shadow: 10px 5px 5px hsl(0, 1%, 48%);
}